@model LisaKatherine.Interface.IPublishedArticle
<div id="LatestBlog">
    <h3>
         @Html.ActionLink("Latest " + (string)ViewBag.Section + " Blog - " + Model.Headline, "../Blog/Details/" + Model.Headline.Replace(" ", "_"), new { id = Model.ArticleId }, new { @class = "readMore" })
    </h3>
    <div class="blogImage"><img src="@ViewBag.Image" /></div>
    <div class="date">@String.Format("{0:dddd d MMMM yyyy}", Model.DatePublished)</div>
    
    <div class="articlebody">@Html.Raw(@Model.Body) @Html.ActionLink("Read More...", "../Blog/Details/" + Model.Headline.Replace(" ", "_"), new { id = Model.ArticleId }, new { @class = "readMore" })</div>
</div>
<br />
<br />
