@model LisaKatherine.Models.PublishedArticles
@{
    //ViewBag.Title = Model.headline + " | Lisa Katherine Blog";
    ViewBag.Description = Model.Description;
    string section = ViewBag.Section;
}
<div id="Blog">@Html.Partial("_Social")
    <div class="date">@String.Format("{0:dddd d MMMM yyyy}", Model.datePublished)</div>
    <h1>@Model.headline</h1>
    <h3>@Model.strapline</h3>
    <div class="articlebody">@Html.Raw(@Model.body)</div>
    <div class="author">
        By @Model.user.firstname @Model.user.lastname</div>
</div>
<div class="actionlink">@Html.ActionLink("<< Back", "Index", section)</div>


