@model LisaKatherine.Interface.IArticle
@{
    ViewBag.Title = "PREVIEW " + Model.Headline + " | Lisa Katherine Blog";
    Layout = "~/Views/Shared/_PreviewLayout.cshtml";
    string section = ViewBag.Section;
}
<div id="Blog">
    <div class="date">@String.Format("{0:dddd d MMMM yyyy}", Model.DatePublished)</div>
    <h1>@Model.Headline</h1>
    <h3>@Model.Strapline</h3>
    <div class="articlebody">@Html.Raw(@Model.Body)</div>
    <div class="author">
        By @Model.User.FirstName @Model.User.LastName</div>
</div>
