@model LisaKatherine.Models.Articles
@{
    ViewBag.Title = "PREVIEW " + Model.headline + " | Lisa Katherine Blog";
    Layout = "~/Views/Shared/_PreviewLayout.cshtml";
    string section = ViewBag.Section;
}
<div id="Blog">
    <div class="date">@String.Format("{0:dddd d MMMM yyyy}", Model.datePublished)</div>
    <h1>@Model.headline</h1>
    <h3>@Model.strapline</h3>
    <div class="articlebody">@Html.Raw(@Model.body)</div>
    <div class="author">
        By @Model.user.firstname @Model.user.lastname</div>
</div>
