@model LisaKatherine.Models.ArticleTypes

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ArticleType</legend>

        @Html.HiddenFor(model => model.articleTypeId)

        <div class="editor-label">
            @Html.LabelFor(model => model.articleTypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.articleTypeName)
            @Html.ValidationMessageFor(model => model.articleTypeName)
        </div>

        <p>
            <input type="submit" value="Save" class="btn" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

