@model IEnumerable<LisaKatherine.Models.ArticleTypes>
@{
    ViewBag.Title = "Article Types";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>
    Index</h1>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table cellspacing="0">
    <tr>
        <th>
            @Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.IdSortParm })
        </th>
        <th>
            @Html.ActionLink("Article Type", "Index", new { sortOrder = ViewBag.ArticleTypeSortParm })
        </th>
        <th>
        </th>
    </tr>
    @{var alternating = false;

      foreach (var item in Model)
      {
        <tr class='@(alternating ? "alt" : "nor")'>
            <td>@item.articleTypeId
            </td>
            <td>
                @item.articleTypeName
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.articleTypeId }) |
                @Html.ActionLink("Details", "Details", new { id = item.articleTypeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.articleTypeId })
            </td>
        </tr>
        alternating = !alternating;
      }
    }
</table>
