@model PagedList<LisaKatherine.Models.FacebookComment>
@using Webdiyer.WebControls.Mvc;

<h2>Comments</h2>
@foreach (var item in Model)
{ 
<div id="FacebookPost">
<img src='@string.Format("https://graph.facebook.com/{0}/picture", item.FBuser.facebookId)' />
<a class="fbuser" href='@string.Format("http://www.facebook.com/{0}", item.FBuser.facebookId)'>by @item.FBuser.name</a><br>
@item.FBPost.dateAdded.ToString("dd MMM yyyy")
<p>
    @item.FBPost.post</p>
</div>
}

@*<script type="text/javascript">
  $('SubmitComment').bind('click', function() {
    $.ajax('/my/url', {
      type: 'POST',
      contentType: 'text/json',
      data: JSON.stringify({username:user, password:pass}),
      complete: function() { /* Do something with the response. */ }
    });
    return false; // Prevent form submit.
  });
</script>*@

<h2>Add new comment</h2>
<form name="comment" method="post" action="#">
<textarea id="comment" name="comment"></textarea>
<br>
<input type="submit" value="Add Comment" id="SubmitComment"/>
</form>

