@using Webdiyer.WebControls.Mvc;
@model PagedList<LisaKatherine.Interface.IArticle>

@{
    ViewBag.Title = "Articles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Articles Index</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table cellspacing="0">
    <tr>
        <th>
    
            @Html.ActionLink("Headline", "Index", new { sortOrder=ViewBag.HeadlineSortParm })
        </th>
        <th>
            
            @Html.ActionLink("Created", "Index", new { sortOrder = ViewBag.CreatedSortParm })
        </th>
        <th>
            
             @Html.ActionLink("Published", "Index", new { sortOrder = ViewBag.PublishedSortParm })
        </th>
        <th>
            
             @Html.ActionLink("Is Published", "Index", new { sortOrder = ViewBag.IsPublishedSortParm })
        </th>
        <th>
            
             @Html.ActionLink("Article Type", "Index", new { sortOrder = ViewBag.ArticleTypeSortParm })
        </th>
        <th>
             @Html.ActionLink("Author", "Index", new { sortOrder = ViewBag.AuthorSortParm })
        </th>
        <th></th>
    </tr>

@{var alternating = false;
    foreach (var item in Model) {
    <tr class='@(alternating ? "alt" : "nor")'>
        <td>
            @item.Headline
        </td>
        <td>
            @String.Format("{0:dd/MM/yyyy}", item.DateCreated)
        </td>
        <td>
            @String.Format("{0:dd/MM/yyyy}", item.DatePublished)
        </td>
        <td>
            @item.IsPublished
        </td>
        <td>
            @item.ArticleType.articleTypeName
        </td>
        <td>
            @item.User.firstname 
            @item.User.lastname 
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArticleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArticleId }) |
            @Html.ActionLink("Preview", "../Blog/Preview", new { id = item.ArticleId }, new { target = "_blank" })
        </td>
    </tr>
        alternating = !alternating;
    }

}
<tr><td colspan="7" class="pager">@Html.Pager(Model, new PagerOptions { PageIndexParameterName = "id", ContainerTagName = "div class=\"pager\"", ShowFirstLast = false })
</td></tr>
</table>
