@model LisaKatherine.Interface.IContactArticle
@{
    ViewBag.Title = "Contact";
}

<h1>@Model.PublishedArticle.Headline</h1>

<div class="articlebody">@Html.Raw(@Model.PublishedArticle.Body)</div>
@using (Html.BeginForm()) { 
    @Html.ValidationSummary(true) 
    <fieldset> 
        <legend>Contact Lisa Katherine</legend> 
        <div class="editor-label"> 
            @Html.LabelFor(model => model.Contact.From) 
        </div> 
        <div class="editor-field"> 
            @Html.TextBoxFor(model => model.Contact.From) 
            @Html.ValidationMessageFor(model => model.Contact.From) 
        </div> 
        <div class="editor-label"> 
            @Html.LabelFor(model => model.Contact.Subject) 
        </div> 
        <div class="editor-field"> 
            @Html.TextBoxFor(model => model.Contact.Subject) 
            @Html.ValidationMessageFor(model => model.Contact.Subject) 
        </div> 
        <div class="editor-label"> 
            @Html.LabelFor(model => model.Contact.Message) 
        </div> 
        <div class="editor-field"> 
            @Html.TextAreaFor(model => model.Contact.Message) 
            @Html.ValidationMessageFor(model => model.Contact.Message) 
        </div> 
        <p> 
            <input type="submit" value="Send" /> 
        </p> 
    </fieldset> 
}